/* QQ图标样式 */
i.fab.fa-qq {
    color: #ad9123;
}

/* Github图标样式 */
i.fab.fa-github {
    color: #3c3e3e;
}

/* 微信图标样式 */
i.fab.fa-weixin {
    color: #45e116;
}

/* 页脚图标样式 */
i.fa.fa-sun-o.fa-spin {
    color: #00ffc7d9;
}

/* 侧栏图标分类样式 */
i.fas.fa-folder-open {
    color: coral;
}

/* 侧栏图标网站信息样式 */
i.fas.fa-chart-line {
    color: olivedrab;
}

/* 顶部图标搜索样式 */
i.fas.fa-search.fa-fw {
    color: #22c922d4;
}

/* 顶部图标首页样式 */
i.fa-fw.fas.fa-home {
    color: rgb(89, 201, 136);
}

/* 顶部图标友链样式 */
i.fa-fw.fas.fa-link {
    color: rgb(89, 201, 136);
}

/* 顶部图标收藏样式 */
i.fa-fw.fas.fa-star {
    color: rgb(89, 201, 136);
}

/* 顶部图标留言样式 */
i.fa-fw.fas.fa-comment {
    color: rgb(89, 201, 136);
}

/* 顶部图标关于样式 */
i.fa-fw.fas.fa-info-circle {
    color: rgb(89, 201, 136);
}

/* 顶部图标目录样式 */
i.fa-fw.fas.fa-list {
    color: rgb(89, 201, 136);
}

/* 顶部图标归档样式 */
i.fa-fw.fas.fa-list-alt {
    color: coral;
}

/* 顶部图标说说样式 */
i.fa-fw.fas.fa-pen {
    color: rgb(89, 201, 136);
}

/* 顶部图标标签样式 */
i.fa-fw.fas.fa-tags {
    color: coral;
}

/* 手机端右上角图标样式 */
i.fas.fa-bars.fa-fw {
    color: #f8ff00d1;
}

/* 页脚与头图透明begin */
#footer {
    position: relative;
    background-color: transparent;
    background-attachment: scroll;
    background-position: inherit;
    /* background-size: cover; */
}

#page-header {
    background: transparent !important;
}

/* 白天模式遮罩透明 */
#footer::before {
    background: transparent !important;
}

#page-header::before {
    background: transparent !important;
}

/* 夜间模式遮罩透明 */
[data-theme="dark"] #footer::before {
    background: transparent !important;
}

[data-theme="dark"] #page-header::before {
    background: transparent !important;
}

/* end */

/* 文章页标题居中，需要配置文件disable_top_img: true 才能生效 */
#page h1.page-title,
#post>#post-info {
    text-align: center;
}

/* 页脚图片不重复只显示一次 */
/* 图片居中方法：利用“margin:0 auto”实现水平居中；2、利用“text-align:center”实现水平居中； */
footer#footer {
    background-repeat: no-repeat;
}

/* 页脚备案美化begin */
.github-badge {
    /* display: inline-block; */
    border-radius: 4px;
    text-shadow: none;
    font-size: 12px;
    color: #fff;
    line-height: 15px;
    margin-bottom: 5px;
}

.github-badge .badge-subject {
    display: inline-block;
    background-color: #998281;
    padding: 4px 4px 4px 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.github-badge .badge-value {
    display: inline-block;
    padding: 4px 4px 4px 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.github-badge .bg-green {
    background: linear-gradient(to right, #a8caba 0%, #5d4157 100%);
}

/*099 Strong Stick*/
.github-badge .bg-purple {
    background: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 100%);
}

/* end */

/* 重写顶部导航背景 */
[data-theme='dark'] #page-header.nav-fixed>#nav,
[data-theme='dark'] #page-header.not-top-img>#nav {
    background: #524f4fab !important;
    -webkit-box-shadow: 0 5px 6px -5px rgb(133 133 133 / 0%) !important;
    box-shadow: 0 5px 6px -5px rgb(133 133 133 / 0%) !important;
}

/* 侧栏个人卡片魔改begin */
/* 侧边栏个人信息卡片动态渐变色 */
#aside-content>.card-widget.card-info {
    background: linear-gradient(6deg, #747472b3, #8b857fb0, #393e3ecc, #89b37473, #626262c2);
    box-shadow: 0 0 5px rgb(66 68 68);
    position: relative;
    background-size: 400% 400%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite !important;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* 个人信息Follow me按钮 */
#aside-content>.card-widget.card-info>#card-info-btn {
    background-color: #3eb8be;
    border-radius: 8px;
}

#aside-content .card-info #card-info-btn {
    display: none;
}

/* 名字 */
#aside-content .card-info .author-info__name {
    font-weight: 700;
    /* color: black; */
}

/* 网站描述 */
/* #aside-content .card-info .author-info__description {
    font-weight: 600;
    color: black;
} */
/* 文章，标签，分类字体颜色 */
.site-data>a .headline {
    color: rgb(255 243 208 / 70%);
}

/* end */
/* 文章目录蒙版效果样式begin */
/* 文章目录 */
#aside-content #card-toc .toc-content {
    margin: 10px -18px;
}

#aside-content #card-toc .toc-content .toc-link.active {
    line-height: 1.2;
    border-radius: 12px;
    border-left-color: var(--heo-hovertext);
    background-color: var(--heo-card-bg);
    color: var(--heo-lighttext);
    font-weight: bold;
    font-size: 20px;
}

[data-theme=dark].toc .toc-item.active .toc-link .toc-text {
    color: var(--heo-white);
}

#aside-content #card-toc .toc-content .toc-item.active .toc-link {
    opacity: 1;
    border-radius: 8px;
}

#aside-content #card-toc .toc-content .toc-link {
    line-height: 1.2;
    padding: 8px;
    border-left: 0px solid transparent;
    border-radius: 12px;
    color: var(--heo-secondtext);
    cursor: default;
}

#aside-content #card-toc .toc-content .toc-link:not(.active) span {
    opacity: 0.6;
    cursor: pointer;
    filter: blur(1px);
    transition: 0.3s;
}

#aside-content #card-toc:hover .toc-content .toc-link:not(.active) span {
    filter: blur(0px);
    opacity: 1;
}

#aside-content #card-toc .toc-content .toc-link:not(.active) span:hover {
    color: var(--heo-lighttext);
}

/* end */

/* 右下角按钮样式 */
/*右下角按钮*/
#rightside>div>button,
#rightside>div>a {
    display: block;
    margin-bottom: 6px;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    background-color: #464141;
    color: #f7f7f7;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
}

/* 选中字体颜色样式 */
*::selection {
    background: #858585;
    color: #f7f7f7;
}

/* 重写all.min.css某处，卡片下的图标鼠标放过去不抖，但是会影响别的图标所以别的图标得重新重写 */
.fa,
.fa-brands,
.fa-classic,
.fa-regular,
.fa-sharp,
.fa-solid,
.fab,
.far,
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    /* 不想要之前的某个属性，想设置默认值是unset */
    display: unset;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}
/* 重写右下角设置图标旋转 */
i.fas.fa-cog.fa-spin {
    display: inline-block !important;
}

/*文章页卡片宽幅占比【暂时不想改留着】*/
.layout {
    max-width: 1430px;
}

/* 目录圆角化 */
#aside-content .card-widget {
    border-radius: 20px !important;
}

/* 侧栏欢迎页(IP)begin */
/* 加粗字体颜色 */
:root {
    --ichika-emphasis-color: #f1ff6c91;
}

.card-announcement {
    /* 背景颜色 */
    background: linear-gradient(to top left, #3b3b3e4a 0%, #4441425e 100%) !important;
    line-height: 30px;
    font-size: 16px;
}

.card-announcement .item-headline span {
    margin-left: 0 !important;
}

.card-announcement span {
    font-weight: bold;
    /* font-size: 20px !important; */
    color: #75c2fb9e;
}

/* end */
/* 顶部导航栏鼠标放上去长条动画 */
#nav *::after {
    background-color: #b7b4ab !important;
}

/* 引入一些我也不知道什么意思的优化begin【参考于https://tzy1997.com/articles/hexo1606/#%E5%B1%80%E9%83%A8css%E4%BC%98%E5%8C%96】 */
.categoryBar-list {
    max-height: 400px;
}

.clock-row {
    overflow: hidden;
    text-overflow: ellipsis;
}

/*3s为加载动画的时间，1为加载动画的次数，ease-in-out为动画效果*/

#page-header,
#web_bg {
    -webkit-animation: imgblur 2s 1 ease-in-out;
    animation: imgblur 2s 1 ease-in-out;
}

@keyframes imgblur {
    0% {
        filter: blur(5px);
    }

    100% {
        filter: blur(0px);
    }
}

/*适配使用-webkit内核的浏览器 */

@-webkit-keyframes imgblur {
    0% {
        -webkit-filter: blur(5px);
    }

    100% {
        -webkit-filter: blur(0px);
    }
}

.table-wrap img {
    margin: .6rem auto .1rem !important;
}

/* 标签外挂 网站卡片 start */

.site-card-group img {
    margin: 0 auto .1rem !important;
}

.site-card-group .info a img {
    margin-right: 10px !important;
}

[data-theme='dark'] .site-card-group .site-card .info .title {
    color: #f0f0f0 !important;
}

[data-theme='dark'] .site-card-group .site-card .info .desc {
    color: rgba(255, 255, 255, .7) !important;
}

.site-card-group .info .desc {
    margin-top: 4px !important;
}

/* 代码块颜色 */

figure.highlight pre .addition {
    color: #00bf03 !important;
}

/* end */
/* 页脚爱心跳动图标样式【bug：display:unset;会导致不会跳，所以加了另一个display去覆盖】 */
#heartbeat {
    color: red;
    animation: iconAnimate 1.33s ease-in-out infinite;
    display: inline-block !important;
}

/* 顶部渐变条色加载条begin */
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 2000;
    position: fixed;
    margin: auto;
    top: 4px;
    left: 0;
    right: 0;
    height: 8px;
    border-radius: 8px;
    width: 7rem;
    background: #eaecf2;
    border: 1px #e3e8f7;
    overflow: hidden
}

.pace-inactive .pace-progress {
    opacity: 0;
    transition: .3s ease-in
}

.pace .pace-progress {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    max-width: 200px;
    position: absolute;
    z-index: 2000;
    display: block;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    /* linear-gradient(to right, #3494e6, #ec6ead) */
    background: linear-gradient(to right, #43cea2, #3866ca);
    animation: gradient 2s ease infinite;
    background-size: 200%
}

.pace.pace-inactive {
    opacity: 0;
    transition: .3s;
    top: -8px
}

/* end */

/*哔哩哔哩视频适配begin*/
.video-bilibili {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 65%;
    margin: 3% auto;
    text-align: center;
}

.video-bilibili iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.video-youtube {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin: 3% auto;
}

.video-youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* end */

/* 文章页H1-H6图标样式效果begin */
/* 控制风车转动速度 4s那里可以自己调节快慢 */
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
    -webkit-animation: ccc 4s linear infinite;
    animation: ccc 4s linear infinite;
}

/* 控制风车转动方向 -1turn 为逆时针转动，1turn 为顺时针转动，相同数字部分记得统一修改 */
@-webkit-keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn);
    }
}

@keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn);
    }
}

/* 设置风车颜色 */
#content-inner.layout h1::before {
    color: #ef50a8;
    margin-left: -1.55rem;
    font-size: 1.3rem;
    margin-top: -0.23rem;
}

#content-inner.layout h2::before {
    color: #fb7061;
    margin-left: -1.35rem;
    font-size: 1.1rem;
    margin-top: -0.12rem;
}

#content-inner.layout h3::before {
    color: #ffbf00;
    margin-left: -1.22rem;
    font-size: 0.95rem;
    margin-top: -0.09rem;
}

#content-inner.layout h4::before {
    color: #a9e000;
    margin-left: -1.05rem;
    font-size: 0.8rem;
    margin-top: -0.09rem;
}

#content-inner.layout h5::before {
    color: #57c850;
    margin-left: -0.9rem;
    font-size: 0.7rem;
    margin-top: 0rem;
}

#content-inner.layout h6::before {
    color: #5ec1e0;
    margin-left: -0.9rem;
    font-size: 0.66rem;
    margin-top: 0rem;
}

/* s设置风车hover动效 6s那里可以自己调节快慢*/
#content-inner.layout h1:hover,
#content-inner.layout h2:hover,
#content-inner.layout h3:hover,
#content-inner.layout h4:hover,
#content-inner.layout h5:hover,
#content-inner.layout h6:hover {
    color: var(--theme-color);
}

#content-inner.layout h1:hover::before,
#content-inner.layout h2:hover::before,
#content-inner.layout h3:hover::before,
#content-inner.layout h4:hover::before,
#content-inner.layout h5:hover::before,
#content-inner.layout h6:hover::before {
    color: #ff0000ad;
    -webkit-animation: ccc 6s linear infinite;
    animation: ccc 6s linear infinite;
}

/* end */
/* 双栏优化 */
/* 翻页按钮居中 */
nav#pagination {
    width: 100%;
    margin: auto;
}

/* 一级菜单居中 */
#nav .menus_items {
    position: absolute !important;
    width: fit-content !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}

/* 标题霓虹灯begin */
/* 日间模式不生效 */
[data-theme="light"] #post-info {
    animation: none;
}

/* 夜间模式生效 */
[data-theme="dark"] #post-info {
    animation: light_5px 10s linear infinite;
}

/* 关键帧描述 */
@keyframes light_15px {
    0% {
        text-shadow: #5636ed 0 0 15px;
    }

    12.5% {
        text-shadow: #11ee5e 0 0 15px;
    }

    25% {
        text-shadow: #f14747 0 0 15px;
    }

    37.5% {
        text-shadow: #f1a247 0 0 15px;
    }

    50% {
        text-shadow: #f1ee47 0 0 15px;
    }

    50% {
        text-shadow: #b347f1 0 0 15px;
    }

    62.5% {
        text-shadow: #002afa 0 0 15px;
    }

    75% {
        text-shadow: #ed709b 0 0 15px;
    }

    87.5% {
        text-shadow: #39c5bb 0 0 15px;
    }

    100% {
        text-shadow: #5636ed 0 0 15px;
    }
}

@keyframes light_10px {
    0% {
        text-shadow: #5636ed 0 0 10px;
    }

    12.5% {
        text-shadow: #11ee5e 0 0 10px;
    }

    25% {
        text-shadow: #f14747 0 0 10px;
    }

    37.5% {
        text-shadow: #f1a247 0 0 10px;
    }

    50% {
        text-shadow: #f1ee47 0 0 10px;
    }

    50% {
        text-shadow: #b347f1 0 0 10px;
    }

    62.5% {
        text-shadow: #002afa 0 0 10px;
    }

    75% {
        text-shadow: #ed709b 0 0 10px;
    }

    87.5% {
        text-shadow: #39c5bb 0 0 10px;
    }

    100% {
        text-shadow: #5636ed 0 0 10px;
    }
}

@keyframes light_5px {
    0% {
        text-shadow: #5636ed 0 0 5px;
    }

    12.5% {
        text-shadow: #11ee5e 0 0 5px;
    }

    25% {
        text-shadow: #f14747 0 0 5px;
    }

    37.5% {
        text-shadow: #f1a247 0 0 15px;
    }

    50% {
        text-shadow: #f1ee47 0 0 5px;
    }

    50% {
        text-shadow: #b347f1 0 0 5px;
    }

    62.5% {
        text-shadow: #002afa 0 0 5px;
    }

    75% {
        text-shadow: #ed709b 0 0 5px;
    }

    87.5% {
        text-shadow: #39c5bb 0 0 5px;
    }

    100% {
        text-shadow: #5636ed 0 0 5px;
    }
}

/* end */

/* 侧栏IP那的虚线 */
/*
虚线：dashed
直线： solid
 */
.my_hr {
    width: 100%;
    /* 线占的高度(是往下的可以理解为下边距) */
    height: 10px;
    /* 上边距 */
    margin-top: 10px;
    /* 参数1是线的粗细 参数2是什么形状 参数3是颜色 */
    border-top: 2px dashed #CED;
}

/* 个人信息状态 begin*/
.card-info-avatar .author-status-box {
    position: absolute;
    bottom: 0;
    left: calc(100% - 28px);
    width: 28px;
    height: 28px;
    border: 1px solid #d0d7de;
    border-radius: 2em;
    background-color: #f8f8f8f8;
    transition: 0.4s;
    overflow: hidden;
}

/* 圆圈背景颜色和圆圈外框颜色 */
[data-theme="dark"] .card-info-avatar .author-status-box {
    background-color: #2093a5;
    border: 1px solid #5c6060;
}

.card-info-avatar .author-status-box .author-status {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    padding: 0 5px;
}

.card-info-avatar .author-status-box:hover {
    width: 105px;
}

.card-info-avatar .author-status-box:hover .author-status span {
    width: 105px;
    margin-left: 4px;
}

.card-info-avatar .author-status-box .author-status span {
    width: 0;
    font-size: 12px;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: 0.4s;
}

.card-widget .card-info-avatar {
    display: inline-block;
    position: relative;
}

/* end */

/* 重写侧栏头像旋转(不要旋转功能)把两个恢复默认 */
.avatar-img img {
    width: 100%;
    height: 100%;
    -webkit-transition: unset !important;
    -moz-transition: filter 375ms ease-in 0.2s, -moz-transform 0.3s;
    -o-transition: filter 375ms ease-in 0.2s, -o-transform 0.3s;
    -ms-transition: filter 375ms ease-in 0.2s, -ms-transform 0.3s;
    transition: unset !important;
    object-fit: cover;
    pointer-events: none !important;
}

/* 信息卡片彩带 */
/* .author_top:hover {
    background: url(https://tuchuang.voooe.cn/images/2023/01/02/snow.gif);
    background-size: cover;
} */

/* 滚动条样式begin */
::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

::-webkit-scrollbar-track {
    border-radius: 2em;
    /* background-color: rgba(73, 177, 245, .2); */
}

::-webkit-scrollbar-thumb {
    background-color: rgb(255 255 255 / .3);
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
    border-radius: 2em
}

::-webkit-scrollbar-corner {
    background-color: transparent
}

/* end */

/* 重写页面卡片背景颜色 */
.cardHover,
.error404 #error-wrap .error-content,
.layout>div:first-child:not(.recent-posts),
#recent-posts>.recent-post-item,
#aside-content .card-widget,
.layout>.recent-posts .pagination>*:not(.space) {
    border-radius: 8px;
    background: rgb(51 51 51 / 85%);
    -webkit-box-shadow: var(--card-box-shadow);
    box-shadow: var(--card-box-shadow);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

/*页脚爱心begin*/
#heartbeat {
    color: red;
    animation: iconAnimate 1.33s ease-in-out infinite
}

@-moz-keyframes iconAnimate {

    0%,
    100% {
        transform: scale(1)
    }

    10%,
    30% {
        transform: scale(.9)
    }

    20%,
    40%,
    60%,
    80% {
        transform: scale(1.1)
    }

    50%,
    70% {
        transform: scale(1.1)
    }
}

@-webkit-keyframes iconAnimate {

    0%,
    100% {
        transform: scale(1)
    }

    10%,
    30% {
        transform: scale(.9)
    }

    20%,
    40%,
    60%,
    80% {
        transform: scale(1.1)
    }

    50%,
    70% {
        transform: scale(1.1)
    }
}

@-o-keyframes iconAnimate {

    0%,
    100% {
        transform: scale(1)
    }

    10%,
    30% {
        transform: scale(.9)
    }

    20%,
    40%,
    60%,
    80% {
        transform: scale(1.1)
    }

    50%,
    70% {
        transform: scale(1.1)
    }
}

@keyframes iconAnimate {

    0%,
    100% {
        transform: scale(1)
    }

    10%,
    30% {
        transform: scale(.9)
    }

    20%,
    40%,
    60%,
    80% {
        transform: scale(1.1)
    }

    50%,
    70% {
        transform: scale(1.1)
    }
}

/* end */

/* 新年侧边栏begin */
#newYear {
    padding: 0 !important;
}

#newYear p,
#newYear h3 {
    font-weight: normal;
    color: inherit;
    margin: 0;
}

#newYear .item-headline {
    display: none;
}

#newYear-main {
    min-height: 160px;
    padding: 1rem;
    position: relative;
    border-radius: 12px;
    /* background-image: url(https://tuchuang.voooe.cn/images/2023/01/02/tunian.webp); */
    background-size: cover;
    background-position: center;
    background-color: #645c5c61;
    line-height: 30px;
    font-size: 16px;
}

#newYear-main * {
    position: relative;
    line-height: 1.3;
}

#newYear-main .newYear-time {
    font-weight: bold;
    text-align: center;
}

#newYear-main .time,
#newYear-main .happyNewYear {
    font-size: 3.5rem;
    margin: 1rem 0;
    display: block;
}

#newYear-main .day {
    font-size: 5rem;
}

#newYear-main .day .unit {
    font-size: 1rem;
}

#newYear-main .mask {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .1);
}

div#newYear {
    background-color: transparent !important;
}

/* end */

/* 重写侧栏网站资讯卡片背景颜色 */
.card-widget.card-webinfo {
    background-color: #645c5c61 !important;
}

/* 重写分类卡片背景颜色 */
.card-widget.card-categories {
    background-color: #645c5c61 !important;
}

/* 重写鼠标放在侧栏分类时的背景颜色 */
#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:hover,
#aside-content .card-categories ul.card-category-list>.card-category-list-item a:hover {
    padding: 3px 17px;
    background-color: #8d8a8bbf;
}

/* 友链页css微调begin */
/* 头像微调 */
.flink-item-icon {
    margin-right: 0 !important;
    transition: .5s !important;
}

.flink-item-name,
.flink-item-desc {
    padding-left: 10px !important;
}

/* 去掉原来自带的before */
#article-container .flink .flink-list>.flink-list-item::before {
    content: none;
}

/* 鼠标经过改变背景 */
#article-container .flink .flink-list>.flink-list-item:hover {
    background-color: #10b2ff3b;
    /*#61bcf2cc*/
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

/* 鼠标经过改变文字颜色 */
#article-container .flink .flink-list>.flink-list-item:hover a {
    color: white !important;
}

/* 鼠标经过头像滚动 */
#article-container .flink .flink-list>.flink-list-item:hover .flink-item-icon {
    width: 60px;
    margin-left: -70px;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

/* end */

/* 重写双栏第一个卡片高度不对称 */
#recent-posts>.recent-post-item {
    margin-top: 1.3rem !important;
    display: inline-block;
    /* height: auto !important; */
    width: 49%;
}

/* 鼠标样式 */
body {
    cursor: url(https://jsd.onmicrosoft.cn/gh/sviptzk/HexoStaticFile@latest/Hexo/img/default.cur), default;
}

a,
img {
    cursor: url(https://jsd.onmicrosoft.cn/gh/sviptzk/HexoStaticFile@latest/Hexo/img/pointer.cur), default !important;
}

/* 外挂标签修改区begin */

/* 按钮标签出现冲突把背景改成透明 */
div.btns a[href]:hover {
    background: transparent !important;
}
/* end */


/* 标签 样式begin*/

#aside-content .card-tag-cloud a {
    border: 1px solid;
    line-height: 1.5;
    border-radius: 6px;
    margin: 3px;
    padding: 0 5px;
}

.tag-cloud-list a {
    border: 1px solid;
    line-height: 1.5;
    border-radius: 6px;
    padding: 5px 15px;
    font-size: 1.2rem;
    margin: 5px;
}
/* end */

